.App {
  text-align: center;
  margin-top: 20px;
}

.btn {
  text-align: center;
  font-size: 56px;
  color: darkgray;
  width: 110px;
  height: 90px;
  border-left: 1px solid #EDF1F3;
  border-top: 1px solid #EDF1F3;
  background-color: #FAFAFA;
  outline: none;
}

.btn:last-child {
  border-right: 1px solid #EDF1F3;
}

.btn:active {
  background-color: red;
  color: white;
}

.fifthRow {
  border-bottom: 1px solid #EDF1F3;
}

.viewScreen {
  height: 210px;
  background-color: #F4F6F7;
  font-size: 74px;
  text-align: right;
  padding: 14px;
}

.calculator {
  display: inline-block;
}

.btn-clear {
  color: #F68466;
}

.btn-equals {
  background-color: #44A4E8;
  color: white;
}

.btn-parens, .btn-percent, .btn-divide, .btn-multiply, .btn-subtract, .btn-add {
  color: #44A4E8;
}
